<%- include('../common/header') %>
<section>
    <div class="text-center justify-content-center">
        <% if(books.length !== 0 ) { %>
            <% for (let book of books) { %>
            <div class="book mt-5 mb-5">
                <table align="center">
                    <tr>
                        <td colspan="2">
                            <h1><%= book.name %></h1>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="heading"><b>Editor : </b></td>
                        <td><%= book.editor %></td>
                    </tr>
                    <tr>
                        <td class="heading"><b>Author : </b></td>
                        <td><%= book.author %></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <a href="/books/detail/<%= book._id %>">Details</a>
                            </button>
                        </td>
                        <td colspan="2">
                            <button type="button" class="btn btn-danger">
                                <a href="/books/delete/<%= book._id %>">Delete Book</a>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <% } %>
        <% } else { %>
            <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <div class="mb-4 lead">There are no books !</div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</section>
<%- include('../common/footer') %>
